% rebase('base.html')

<div class="notification is-primary has-background-info-light has-text-info">

  <div class="box">
    <p><h1>Vaje v programu {{program.ime}} na stopnji {{stopnja.ime}}:</h1></p>

    <div class="box">
      <table>
          <thead>
            <tr>
              <th>kategorija: </th>
              <th>ime vaje: </th>
              <th>opis: </th>
            </tr>
          </thead>
          <tbody>
            %for vaja in vaje:
            <tr>
              <td>{{vaja.kategorija}}</td>
              <td>{{vaja.ime}}</td>
              <td>{{vaja.opis}}</td>
              <td>ogled posnetka</td>
              <td>uredi vajo</td>
            </tr>
            %end
          </tbody>
      </table>
    </div>


    %for vaja in vaje:
    <a class="button is-medium is-rounded" href="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/vaja_{{vaja.ime}}/">{{vaja.ime}}</a>
    %end
  </div>

  <div class="box">
    <div class="columns">

      <div class="column">
        <p><h3>Dodaj vajo:</h3></b>
        <div class="panel-block">
          <form action="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/dodaj-vajo/" method="POST">
            <p>ime vaje: <input type="text" name="ime_vaje"></p>
            <p>kategorija: <input type="text" name="kategorija"></p>
            <p>opis: <input type="text" name="opis"></p>
            <p>glasba: <input type="text" name="glasba"></p>
            <p>posnetek: <input type="text" name="posnetek"></p>
            <p><input type="submit" value="Dodaj!"></p>
          </form>
        </div>
      </div>

      <div class="column">
        <p><h3>Odstrani vajo:</h3></p>
        <div class="select is-small">
          <form action="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/odstrani-vajo/" method="POST">
            <select  name="ime_vaje">
              %for vaja in vaje:
              <option>{{vaja.ime}}</option>
              %end
            </select>
            <p><div class="control">
              <input type="submit" class="button is-small" value="odstrani">
            </div></p>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="box">
    <p><h3>Premakni vajo:</h3></p>
    <div class="select is-small">
      <form action="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/premakni-vajo/" method="POST">
        <h4>Izberi vajo:</h4>
        <select  name="vaja">
          %for vaja in vaje:
          <option>{{vaja.ime}}</option>
          %end
        </select>
        <h4>V kateri program bi rad premakil vajo?</h4>
        <select  name="v_program">
          %for program in programi_na_stopnji:
          <option>{{program.ime}}</option>
          %end
        </select>
        <div class="control">
          <input type="submit" class="button is-small" value="Premakni!">
        </div>
      </form>
    </div>

  </div>

</div>