% rebase('base.html')

<div class="notification is-primary has-background-info-light has-text-info">

  <div class="box">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">zvezek</a></li>
          <li><a href="/stopnja_{{stopnja.ime}}/">{{stopnja.ime}}</a></li>
          <li class="is-active"><a href="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/" aria-current="page">{{program.ime}}</a></li>
        </ul>
      </nav>
  </div>

  <div class="box">
    <p><h1>Vaje v programu {{program.ime}} na stopnji {{stopnja.ime}}:</h1></p>

    %if len(vaje) == 0:
      <p>V tem programu nimaš še nobene vaje!</p>
    %else:

      <div class="box">
        <table>
            <thead>
              <tr>
                <th>kategorija: </th>
                <th>ime vaje: </th>
                <th>opis: </th>
              </tr>
            </thead>
            <tbody>
              %for kategorija in kategorije:
              %    for vaja in uporabnik.zvezek.vaje_v_kategoriji(program, kategorija):
              <tr>
                <td>{{vaja.kategorija}}</td>
                <td> <a class="button is-small is-rounded" href="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/vaja_{{vaja.ime}}/" >{{vaja.ime}}</a></td>
                <td>{{vaja.opis}}</td>
                <td><a href="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/vaja_{{vaja.ime}}/uredi-vajo/">uredi vajo</a></td>
              </tr>
              %    end
              %end
            </tbody>
        </table>
      </div>
    %end

  </div>

  <div class="box">
    <div class="columns">

      <div class="column">
        <p><h3>Dodaj vajo:</h3></b>
        <div class="panel-block">
          <form action="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/dodaj-vajo/" method="POST" enctype="multipart/form-data">
            <p>kategorija: <input type="text" name="kategorija" placeholder="ogrevanje, drog, sredina, skoki..."></p>
            <p>ime vaje: <input type="text" name="ime_vaje" placeholder="plie, tendu, ogrevalna vaja, reztegovanje..."></p>
            <p>opis: <input type="text" name="opis" placeholder="3*demi plie in en grand plie v vseh pozicijah"></p>

            <div class="columns">
              <div class="column">
                <p>Izberi glasbo: <input type="file" name="glasba"></p>
              </div>
              <div class="column">
                <p>Izberi posnetek: <input type="file" name="posnetek"></p>
              </div>
            </div>
            
            <p><input type="submit" value="Dodaj vajo!"></p>
            </form>
        </div>
      </div>

      <div class="column">
        <p><h3>Odstrani vajo:</h3></p>
        <div class="select is-small">
          <form action="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/odstrani-vajo/" method="POST">
            <select  name="ime_vaje">
              %for vaja in vaje:
              <option>{{vaja.ime}}</option>
              %end
            </select>
            <p><div class="control">
              <input type="submit" class="button is-small" value="odstrani">
            </div></p>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="box">
    <p><h3>Premakni vajo:</h3></p>
    <div class="select is-small">
      <form action="/stopnja_{{stopnja.ime}}/program_{{program.ime}}/premakni-vajo/" method="POST">

        <div class="columns">

          <div class="column">
            <h4>Izberi vajo:</h4>
            <select  name="vaja">
              %for vaja in vaje:
              <option>{{vaja.ime}}</option>
              %end
            </select>
          </div>

          <div class="column">
            <h4>V kateri program bi rad premakil vajo?</h4>
            <select  name="ime_v_program">
              %for program in programi_na_stopnji:
              <option>{{program.ime}}</option>
              %end
            </select>
          </div>


          <div class="column">
            <div class="control">
              <input type="submit" class="button is-small" value="Premakni!">
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>

</div>