% rebase('base.html')

<div class="notification is-primary has-background-info-light has-text-info">

  <div class="box">
    <p><h1>Tvoji razredi:</h1></p>
    %for stopnja in zvezek.stopnje:
    <a class="button is-medium is-rounded" href="/stopnja_{{stopnja.ime}}/">{{stopnja.ime}}</a>
    %end
  </div>

  <div class="box">

    <div class="columns">

      <div class="column">
        <p><h3>Dodaj stopnjo:</h3></b>
        <div class="panel-block">
          <form action="/dodaj_stopnjo/" method="POST">
            ime stopnje: <input type="text" name="ime_stopnje">
            <input type="submit" value="Dodaj!">
          </form>
        </div>
      </div>

      <div class="column">
        <p><h3>Odstrani stopnjo:</h3></p>
        <div class="select is-small">
          <form action="/odstrani_stopnjo/" method="POST">
            <select  name="ime_stopnje">
              %for stopnja in zvezek.stopnje:
              <option>{{stopnja.ime}}</option>
              %end
            </select>
            <div class="control">
              <input type="submit" class="button is-small" value="odstrani">
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>

</div>
  